name: CI - Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: sohail8/devops-node-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      # If tests are not defined, this will not break the pipeline
      - name: Run tests (non-blocking)
        run: |
          if npm run | findstr /C:"test"; then
            echo "Test script found, running tests..."
            npm test || echo "Tests failed or not defined properly, continuing..."
          else
            echo "No test script found in package.json, skipping tests."
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
